<main>
    <div class="div-central">
        <input class="input-nif" type="text" name="nif" placeholder="NIF">
        <input class="input-nombreUsuario" type="text" name="nombre" placeholder="Nombre">
        <input class="input-tipoUsuario" type="text" name="tipo" placeholder="Tipo">
        <input class="input-password" type="text" name="password" placeholder="Password">
        <input class="inputRegistroBus" type="submit" name="registro" class="form-controlRegistro" value="Registrar" placeholder="Registro">
    </div>
</main>
