<main>
    <div class="div-central">
        <input class="input-nif" type="text" name="nif" placeholder="NIF"><br>
        <input class="input-nombreUsuario" type="text" name="nombre" placeholder="Nombre"><br>
        <input class="input-password" type="text" name="password" placeholder="Password"><br>
            <input class="input-tipoUsuario" type="text" name="tipo" placeholder="Tipo"><br>
        <input class="inputRegistroBus" type="submit" name="registro" value="Registrar" placeholder="Registro">
    </div>
</main>
