<div class="container">
    <div class="row h-100">
        <div class="col-12">

            <div class="border mt-4" style="background-color: whitesmoke">
                <div>
                    <h1>{{titulo}} </h1>
                    <small class="h5">{{cuerpo}}</small>
                    <small class="float-right mt-2">{{fecha}}</small>
                </div>
            </div>

        </div>
    </div>
    <div class="row" *ngFor="let respuesta of this.respuestas">
        <h1>{{respuesta.asunto}}</h1>
    </div>
</div>


