<head>
    <script>
        $('#recPass').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
</head>
<div class="container-fluid">
    <div>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-1">
            <div>

            </div>
        </div>
        <div class="col-md-9 col-sm-11">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <br>
                    <h2>Registro usuarios</h2>
                    <div class="div-central">
                        <input class="form-control form-control-sm" type="text" name="nif" placeholder="NIF"
                               [(ngModel)]="newUser.nif"><br>
                        <input class="form-control form-control-sm" type="text" name="nombre" placeholder="Nombre"
                               [(ngModel)]="newUser.nombre"><br>
                        <input class="form-control form-control-sm" type="text" name="password" placeholder="Password"
                               [(ngModel)]="newUser.password"><br>
                        <input class="form-control form-control-sm" type="text" name="tipo" placeholder="Tipo"
                               [(ngModel)]="newUser.tipo"><br>
                        <input class="form-control form-control-sm" type="text" name="email" placeholder="Email"
                               [(ngModel)]="newUser.email"><br>
                        <div class="custom-file">
                            <input class="form-control-sm" type="file" id="customFile"
                                   (change)="handleFileInput2($event.target.files)">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>

                        <input class="btn btn-primary container-fluid mt-3" type="submit" name="registro" value="Registrar"
                               placeholder="Registro"
                               (click)="addUser2()">
                        <div id="mensaje">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <br>
                    <h2>Registro masivo de usuarios</h2>
                    <div class="div-central">
                        <div class="mr-sm-2">
                            <select [(ngModel)]="cursoSeleccionado">
                                <option *ngFor="let curso of cursos" value="{{curso.id_curso}}">
                                    {{ curso.nombre }}
                                </option>
                            </select>
                            <br>
                            <div class="custom-file">
                                <input class="form-control-sm" type="file" id="customFile2"
                                       (change)="handleFileInput($event.target.files)">
                                <label class="custom-file-label" for="customFile2">Choose file</label>
                            </div>
                            <br>
                            <input class="btn btn-primary container-fluid mt-3" type="submit" name="registro" value="Registrar"
                                   placeholder="Registro"
                                   (click)="uploadCSV()">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row text-center" style="margin-top: 20px;">
                <div class="col-md-12 text-center">
                    <table  id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="th-sm">Nombre
                            </th>
                            <th class="th-sm">NIF
                            </th>
                            <th class="th-sm">Email
                            </th>
                            <th class="th-sm">Modificar Usuario
                            </th>
                            <th class="th-sm">Eliminar Usuario
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  *ngFor="let alumno of usutipoalum" style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                            <!--<td style="display: none;">{{alumno.id_usuario}}</td>-->
                            <td>{{alumno.nombre}}</td>
                            <td>{{alumno.nif}}</td>
                            <td>{{alumno.email}}</td>
                            <td data-id="{{alumno.id_usuario}}"> <i class="fas fa-address-card" data-target="#exampleModal" data-toggle="modal" href="#" style="color: darkgreen;"></i></td>
                            <td data-id="{{alumno.id_usuario}}"> <i class="fas fa-user-times" data-target="#exampleModal2" data-toggle="modal" href="#" style="color: red;"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--<table id="alumnos" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th style="display: none;">ID</th>
                            <th>Nombre</th>
                            <th>NIF</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let alumno of usutipoalum" style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                                <td style="display: none;">{{alumno.id_usuario}}</td>
                                <td>{{alumno.nombre}}</td>
                                <td>{{alumno.nif}}</td>
                                <td>{{alumno.email}}</td>
                                <td data-id="{{alumno.id_usuario}}"> <i class="fas fa-address-card" data-target="#exampleModal" data-toggle="modal" href="#" style="color: darkgreen;"></i>  <i class="fas fa-user-times" data-target="#exampleModal2" data-toggle="modal" href="#" style="color: red;"></i></td>
                            </tr>
                        </tbody>
                </table>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"><div class="rec-pass">
                    <form method="POST" name="modificarUsuario">
                        <input type="email" class="form-control" name="accesoDni" placeholder="email" required><br><br>
                        <input type="submit" class="btn btn-secondary" name="login"  value="Solicitar" data-dismiss="modal">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Eliminar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="eliminarUsuario">
                    <!-- coger la id del usuario que quiero eliminar -->
                    <p>¿ Estas seguro de que desea eliminar a este usuario ?</p>
                    <input class="btn btn-primary container-fluid mt-3" type="submit" value="Sí" name="Sí">

                </div>
            </div>
        </div>
    </div>
</div>
