<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-1">

        </div>
        <div class="col-md-9 col-sm-11">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <br>
                    <h2>Registro Usuarios</h2>
                    <div class="div-central">
                        <input class="form-control form-control-sm" type="text" name="nif" placeholder="NIF"
                               [(ngModel)]="newUser.nif"><br>
                        <input class="form-control form-control-sm" type="text" name="nombre" placeholder="Nombre"
                               [(ngModel)]="newUser.nombre"><br>
                        <input class="form-control form-control-sm" type="text" name="password" placeholder="Password"
                               [(ngModel)]="newUser.password"><br>
                        <input class="form-control form-control-sm" type="text" name="tipo" placeholder="Tipo"
                               [(ngModel)]="newUser.tipo"><br>
                        <input class="form-control form-control-sm" type="text" name="email" placeholder="Email"
                               [(ngModel)]="newUser.email"><br>
                        <div class="custom-file">
                            <input class="form-control-sm" type="file" id="customFile"
                                   (change)="handleFileInput2($event.target.files)">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>

                        <input class="btn btn-primary container-fluid mt-3" type="submit" name="registro" value="Registrar"
                               placeholder="Registro"
                               (click)="addUser2()">
                        <div id="mensaje">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <br>
                    <h2>Registro masivo de usuarios</h2>
                    <div class="div-central">
                        <div class="mr-sm-2">
                            <select [(ngModel)]="cursoSeleccionado">
                                <option *ngFor="let curso of cursos" value="{{curso.id_curso}}">
                                    {{ curso.nombre }}
                                </option>
                            </select>
                            <br>
                            <div class="custom-file">
                                <input class="form-control-sm" type="file" id="customFile2"
                                       (change)="handleFileInput($event.target.files)">
                                <label class="custom-file-label" for="customFile2">Choose file</label>
                            </div>
                            <br>
                            <input class="btn btn-primary container-fluid mt-3" type="submit" name="registro" value="Registrar"
                                   placeholder="Registro"
                                   (click)="uploadCSV()">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
