<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class=fondo-img><img src="img/logo-stucom.png"></div>
    </header>
    <div class=menuLateral>
        <div class=cajaAsignaturas>
            <div class="asignaturas" *ngFor="let asignatura of asignaturas"><a href={{asignatura.nombre}}>{{asignatura.nombre}}</a></div>
        </div>
    </div>
</body>

</html>