<header>

  <div class="container-fluid">

    <div class="row sticky-top barra-superior">

      <div class="col my-auto">
        <button class="btn float-left" (click)="clickOpenHamburguer()"> <i  class="icon-bar fas fa-bars"></i> </button>
      </div>

      <div class="col my-auto">
        <button (click)="logOut()" class="btn float-right"> <i class="icon-bar fas fa-sign-out-alt"></i> </button>
        <button class="btn float-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-bar fas fa-user"></i> </button>
        <!--[routerLink]="['//user-profile/']"-->
        <div class="dropdown-menu">
          <span class="dropdown-item-text" style="color:black;">Dropdown item text</span>
          <a class="dropdown-item" style="color:black;" [routerLink]="['//user-profile/']">Profile</a>
          <a class="dropdown-item" style="color:black;" href="#">Another action</a>
          <a class="dropdown-item" style="color:black;" href="#">Something else here</a>
        </div>
      </div>
    </div>

    <div class="row ">

      <div *ngIf="openHamburguer" class="barra-lateral dropdown">
        <div *ngFor="let asignatura of asignaturas" class="col item-list">
            <a [routerLink]="['postsListado/', asignatura.id_asignatura/post.id_post]">{{asignatura.nombre}}</a>
        </div>
      </div>

    </div>

  </div>

</header>
