<div class="container-fluid">

  <div class="row sticky-top barra-superior">
    <div class="col-4 my-auto" style="color: white;">
      <i (click)="clickOpenHamburguer()" class="cursor-pointer fas fa-bars fa-2x"></i>
    </div>
    <div class="col-4 my-auto">
      <input type="text" placeholder="buscador">
    </div>
    <div class="col-4 my-auto">
      <img src="" class="img-barra-superior" alt="img">
      <button (click)="logOut()" class="btn btn-primary">LOGOUT</button></div>
  </div>

  <div class="row">
    <div *ngIf="openHamburguer" class="col-2 barra-lateral bg-light" style="position: absolute; top:60px;">
      <div *ngFor="let asignatura of asignaturas" class="row">
        <a [routerLink]="['postsListado/', asignatura.id_asignatura]">{{asignatura.nombre}}</a>
      </div>
    </div>
  </div>

  <div class="wrapper" style="align-items: stretch">

    <router-outlet name="home"></router-outlet>

  </div>

</div>
